@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&family=Roboto+Mono&display=swap');

.aboutpage {
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(4, 4, 57), rgb(12, 15, 160));
}

.aboutme {

    padding-left: 15em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;


}

.burg {
    position: absolute;
    height: 35px;
    width: 35px;
}


.whoami {
    margin-left: 2em;
    width: 50%;
    text-align: justify;
    flex-basis: auto;
    color: rgb(21, 187, 187)
}

.whoami p {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    font-size: 2em
}

.whoami h1 {
    font-size: 4em;
    width: auto;
    font-family: 'Merriweather Sans', sans-serif;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(25, end),
        blink-caret .75s step-end infinite;

}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}



.logo1 {
    grid-area: logo1;
    background-image: url('../../static/img/javascript.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.logo2 {
    grid-area: logo2;
    background-image: url('../../static/img/mongo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.logo3 {
    grid-area: logo3;
    background-image: url('../../static/img/React-icon.svg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 20%;
}

.logo4 {
    grid-area: logo4;
    background-image: url('../../static/img/css.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 20%;
}

.logo5 {
    grid-area: logo5;
    background-image: url('../../static/img/Django_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 20%;
}

.logo6 {
    grid-area: logo6;
    background-image: url('../../static/img/Python.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 20%;
}

.logo7 {
    grid-area: logo7;
    background-image: url('../../static/img/HTML5.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 20%;
}

.logo8 {
    grid-area: logo8;
    background-image: url('../../static/img/express.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "logo1 logo3"
        "logo2 logo8"
        "logo5 logo6"
        "logo7 logo4";
}

.myskills {

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". skillstext";
    height: 100vh;

}

.skillstext {
    grid-area: skillstext;
    margin-right: 20px;
    align-self: center;

}

.skillstext h1 {
    font-size: 5em;
    width: auto;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(199, 174, 6);


}

.skillstext p {
    color: rgb(165, 187, 21);
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    font-size: 1.75em;
    text-align: right;
}