.splinememe {
    width: 50vw;
    height: 100vh;

}



/*-----------MEDIA QUERY 1250px--------------*/
@media (max-width: 1250px) {
    .splinememe {
        width: 100vw;
        height: 100vh;
    }
}