.line {
    cursor: pointer;
    width: 35px;
    height: 5px;
    background-color: bisque;
    margin: 6px 0;
}

.burger:hover {
    opacity: 0.5;
}

.burger {
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 0px;
    height: 35px;
    width: 35px;
    z-index: 1
}