@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&family=Roboto+Mono&display=swap');

.speech {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    color: white;
    margin: 0;
    overflow-y: hidden;
    top: 18%;
    left: 40%;
    height: 320px;
    z-index: 1;
    cursor: none;
    line-height: 2em;
    pointer-events: none
}