.burg {
    position: absolute;
    height: 35px;
    width: 35px;

}

h1 {
    margin: 0;
    line-height: 90%;
    text-align: right;
}

.description {
    grid-area: describe;
    font-size: 3em;
    text-align: center;
    color: white;
}

.description h4 {
    margin: 0%;
    line-height: .5em;
}

.description h3 {
    margin-bottom: 0;
    margin-top: .25em;
    line-height: .75em;
}

.description h2 {
    margin-bottom: 0;
    margin-top: .25em;
    line-height: .75em;
}

.page1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . name name"
        ".  . name name"
        "describe . . . "
        "describe . . stamp ";
    height: 100vh;
    width: 100%;
    /* position: relative;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-justify: center;
    line-height: 400%;
    color: bisque */
}

.stamp-container {
    grid-area: stamp;

}

.stamp {
    transform: rotate(-22deg);
    color: #555;
    font-size: 3rem;
    font-weight: 700;
    border: 0.25rem solid #555;
    display: inline-block;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: 'Courier';

}


.myname {
    font-size: 8em;
    grid-area: name;
    justify-self: end;

    color: white;
}




.enter {
    grid-area: buttn;

    grid-column: 2/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

button {

    background-color: rgb(30, 30, 30, 0.25);
    padding: 0.5em 3em;
    border: 0.5em solid bisque;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.15s;
    font-size: 1em;
    color: bisque;

}

button:hover {
    cursor: pointer;
    color: rgb(130, 130, 51);
    border-color: rgb(130, 130, 51);
}

button:active {
    color: #BBBBBB;
    border-color: #BBBBBB;
}