.profilepic {

    position: relative;
    width: 50%;
    border: .2em solid #0f2f5f;
    border-radius: 50%;
    background-image: url('../../static/img/port3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(13, 30, 56);

}

/* .profilepic::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  } */