.App {
  height: 100%;
}

h2 {
  width: 43%;
  text-align: center;
}

.spline {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.close {
  overflow-y: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  /* transition: width 2s 2s, height 2s 2s, opacity 2s; */

}

.loader {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  color: white;
  z-index: 2;
}

.page1 {
  position: relative;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin: 0;
  text-justify: center;
  line-height: 400%;

}

.page2 {
  position: relative;
  font-size: 200%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(10, 10, 10);
  margin: 0;

}

.flex-row {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 75%;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.profilepic {
  position: relative;
  width: 30%;
  border: .2em solid purple;
  border-radius: 50%;
  left: 10%;
}

.profilepic::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.whoami {
  margin-left: 10em;
  width: 90%;
  text-align: justify;
  text-justify: inter-character;
  font-style: italic;

}

.page3 {
  position: relative;
  font-size: 250%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}





.page4 {
  position: relative;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(20, 20, 20);
  margin: 0;
}


.page5 {
  position: relative;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(30, 30, 30);
  margin: 0;

}



.integrate {
  color: greenyellow;
  animation: flash 2.5s infinite;
  font-family: monospace
}

.integrate2 {
  color: greenyellow;
  font-family: monospace
}

@keyframes flash {
  0% {
    color: greenyellow;
  }

  100% {
    color: rgb(20, 20, 20);
    color: rgb(20, 20, 20);
  }
}

button {
  background-color: rgb(30, 30, 30);
  padding: 0.5em 3em;
  border: 0.16em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: all 0.15s;
  font-size: .7em;
}

button:hover {
  color: rgb(130, 130, 51);
  border-color: rgb(130, 130, 51);
}

button:active {
  color: #BBBBBB;
  border-color: #BBBBBB;
}

.meme {
  height: auto;
  width: auto;
}